
/*injects Tailwind's base styles, which include resets and default styles for HTML elements.*/
@tailwind base;  

/*designed to be extended or overridden by your custom styles.*/
@tailwind components;

/*utility classes,
which are single-purpose classes that can be used directly in your HTML to style elements.*/
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
